@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reserved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach(var prod in Model)
    {
        <tr>
            <td>
                @prod.Name
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod.InStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => prod.Reserved)
            </td>
            <td>
                @foreach (var cat in prod.Categories)
                {
                    @cat.Name;
                    <br/>
                }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@prod.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@prod.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@prod.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
